section.catalog-block
  .container.catalog-block__row
    include filter.pug
    .catalog-block__caption-row
      h2.h3.catalog-block__caption
        span
        !=" товаров"
      include sort.pug
    include products.pug
