-
  const checkbox = [
    {
      id: "new",
      name: "Новинки"
    },
    {
      id: "stock",
      name: "Есть в наличии"
    },
    {
      id: "contract",
      name: "Контрактные"
    },
    {
      id: "exclusive",
      name: "Эксклюзивные"
    },
    {
      id: "sale",
      name: "Распродажа"
    },
  ]

form(action="#").catalog-block__filter.filter
  h2.h3.filter__caption Фильтры
  .filter__popup
    .filter__block
      each item in checkbox
        label
          input.visually-hidden(id=item.id type="checkbox", name=item.id)
          span.filter__toggle
          span.filter__name=item.name
