@use "../../variables";

.catalog-block {
  margin-bottom: 123px;
}

.catalog-block__row {
  display: grid;
  grid-template-columns: auto 1fr;

  @media screen and (max-width: variables.$tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: variables.$mobile-width) {
    margin-bottom: 25px;
  }
}

.catalog-block__products {
  grid-column: 2 / 3;

  @media screen and (max-width: variables.$tablet-width) {
    grid-column: 1 / 3;
  }
}

.catalog-block__caption-row {
  grid-column: 2 / 3;
  margin-bottom: 45px;
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: variables.$tablet-width) {
    padding-top: 0;
    justify-content: flex-end;
    margin-bottom: 25px;
  }
}

.catalog-block__caption {
  @media screen and (max-width: variables.$tablet-width) {
    display: none;
  }
}

.catalog-block__filter {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  @media screen and (max-width: variables.$tablet-width) {
    grid-row: 1 / 2;
  }
}
