@use "../../mixin";
@use "../../variables";

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 17px 24px;
  grid-template-rows: auto;

  @media screen and (max-width: variables.$desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: variables.$tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 16px;
  }

  @media screen and (max-width: variables.$min-tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.products__card {
  display: grid;
  gap: 18px;
  grid-template-rows: subgrid;
  grid-row: span 3;
  padding-bottom: 14px;

  &:nth-child(n+6) {
    border-top: 1px solid rgba(variables.$black-2, 0.1);
  }

  @media screen and (max-width: variables.$desktop-width) {
    &:nth-child(n+5) {
      border-top: 1px solid rgba(variables.$black-2, 0.1);
    }
  }

  @media screen and (max-width: variables.$tablet-width) {
    &:nth-child(n+4) {
      border-top: 1px solid rgba(variables.$black-2, 0.1);
    }
  }

  @media screen and (max-width: variables.$min-tablet-width) {
    &:nth-child(n+3) {
      border-top: 1px solid rgba(variables.$black-2, 0.1);
    }
  }

  @media screen and (max-width: variables.$mobile-width) {
    padding-bottom: 33px;
  }

  &:hover button {
    opacity: 1;
    pointer-events: initial;
  }
}

.products__img {
  @include mixin.center();
  width: 100%;
  height: 278px;

  @media screen and (max-width: variables.$desktop-width) {
    height: auto;
  }

  & img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.products__price-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & button {
    cursor: pointer;
    @include mixin.btn();
    @include mixin.center();
    width: 80px;
    height: 32px;

    @include mixin.font(16px,600,1,variables.$black);
    background-color: variables.$green;
    border-radius: 8px;

    opacity: 0;
    pointer-events: none;

    @media screen and (max-width: variables.$tablet-width) {
      width: 39px;
      height: 27px;
      opacity: 1;
      pointer-events: initial;
    }
  }

  & p {
    margin: 0;

    @include mixin.font(16px,600,1,variables.$black);
  }
}

.products__name {
  display: block;

  @include mixin.font(16px,300,1,variables.$black);
  letter-spacing: 0.03em;

  @media screen and (max-width: variables.$tablet-width) {
    line-height: 1.1;
  }
}
