@use "../variables";

.big-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1830px;
    padding: 0 20px;

    @media screen and (max-width: variables.$tablet-width) {
      padding: 0 24px;
    }
}


