@use "../mixin";
@use "../variables";

.h1 {
  position: relative;
  margin: 0;
  padding-left: 78px;
  width: 353px;
  max-width: 100%;

  @include mixin.font-pt(56px,700,1.2,variables.$text-color);

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;

    display: block;
    height: 90%;
    width: 5px;

    background-image: variables.$caption-gradient;
  }

  @media screen and (max-width: variables.$tablet-width) {
    font-size: 36px;
    letter-spacing: -0.04em;
  }
}
