@use "../mixin";
@use "../variables";

.hamburger {
    @include mixin.btn();

    width: 30px;
    height: 19px;
    position: relative;

    transform: scale(0.75);

    &:focus,
    &:hover,
    &:active {
      cursor: pointer;
    }
  }

  .hamburger__bar {
    padding: 0;
    width: 30px;
    height: 2px;
    background-color: variables.$black;
    display: block;
    transition: all 0.4s ease-in-out;
    position: absolute;
  }

  .hamburger__bar--bar1 {
    top: 0;
    transform-origin: 5%;
  }

  .hamburger__bar--bar2,
  .hamburger__bar--bar3 {
    top: 50%;
    transform: translateY(-50%);
  }

  .hamburger__bar--bar3 {
    right: 0;
  }

  .hamburger__bar--bar4 {
    bottom: 0;
    transform-origin: 5%;
  }

  /* Стили для активной кнопки*/

  .js-btn-active {
    &.hamburger {
      transform: scaleX(1) scaleY(1) scale(0.75);
    }

    .hamburger__bar--bar1 {
      transform: rotate(45deg);
      height: 2px;
      width: 26px;
    }

    .hamburger__bar--bar3 {
      transform: rotate(45deg) translateY(-50%);
      height: 2px;
      background-color: transparent !important;
    }

    .hamburger__bar--bar2 {
      transform: rotate(-45deg) translateY(-50%);
      height: 2px;
      background-color: transparent !important;
    }

    .hamburger__bar--bar4 {
      transform: rotate(-45deg);
      height: 2px;
      width: 26px;
    }
  }
