@use "../mixin";
@use "../variables";

.main-slider {
  position: relative;

  & .swiper-container {
    overflow: hidden;
  }
}

.main-slider__swiper-container {
  padding-left: 80px;
  padding-right: 90px;
}

.main-slider__slide {
  box-sizing: border-box;
}

.main-slider__row-btn {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 56px;
  padding-left: 80px;
}

.main-slider__btn-prev,
.main-slider__btn-next {
  @include mixin.btn();
  @include mixin.center();
  cursor: pointer;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: 1px solid variables.$text-color;
}

.main-slider__btn-prev.swiper-button-disabled,
.main-slider__btn-next.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.main-slider__caption {
  @include mixin.center();
  gap: 90px;
  margin-bottom: 120px;
  padding-right: 45px;

  & span:first-child {
    color: variables.$blue;
  }

  & span:last-child {
    color: variables.$pink;
  }
}

.main-slider__pagination-value-row {
  margin-bottom: 20px;
  padding-left: 80px;

  font-size: 14px;
  line-height: 1;
}

.main-slider__block-pagination {
  position: absolute;
  z-index: 1;
  top: 16%;
  left: 50%;
  transform: translate(-50%,-50%);

  width: 100%;
  height: 100%;

  &::after {
    content: "";

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: block;
    width: 100%;
    height: 1px;

    background-color: rgba(variables.$text-color, 0.1);
  }
}

.main-slider__pagination {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 530px;
  height: 530px;

  border: 1px solid rgba(variables.$text-color, 0.1);
  border-radius: 50%;
}

.main-slider__bullet {
  cursor: pointer;
}

.main-slider__current {
  @include mixin.center();
  width: 56px;
  height: 56px;

  @include mixin.font-pt(20px,400,1,variables.$text-color);

  border: 1px solid rgba(variables.$grey, 0.5);
  border-radius: 50%;
  background-color: variables.$grey-light;
}

.main-slider__pagination-label {
  position: absolute;
  left: calc(100% + 20px);
  top: 50%;
  transform: translateY(-50%);

  display: block;
  @include mixin.font-pt(20px,700,1,variables.$text-color);
}
