@use "../mixin";
@use "../variables";

.main-slider {
  position: relative;

  & .swiper-container {
    overflow: hidden;
  }
}

.main-slider__swiper-container {
  padding-left: 104px;
  padding-right: 40px;
}

.main-slider__slide {
  box-sizing: border-box;
}

.main-slider__btn-prev,
.main-slider__btn-next {
  @include mixin.btn();
  @include mixin.center();
  cursor: pointer;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: 1px solid variables.$text-color;
}

.main-slider__caption {
  @include mixin.center();
  gap: 50px;

  & span:first-child {
    color: variables.$blue;
  }

  & span:last-child {
    color: variables.$pink;
  }
}

.main-slider__pagination {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 530px;
  height: 530px;

  border: 1px solid rgba(variables.$text-color, 0.1);
  border-radius: 50%;
}

.main-slider__bullet {
  position: absolute;
  display: block;
}

.main-slider__current {
  @include mixin.center();
  width: 56px;
  height: 56px;

  @include mixin.font-pt(20px,400,1,variables.$text-color);

  border: 1px solid rgba(variables.$grey, 0.5);
  border-radius: 50%;
  background-color: variables.$grey-light;
}

.main-slider__pagination-label {
  position: absolute;
  left: calc(100% + 20px);
  top: 50%;
  transform: translateY(-50%);

  display: block;
  @include mixin.font-pt(20px,700,1,variables.$text-color);
}
