@use "../variables";

.main__container {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  padding-left: 160px;

  @media screen and (max-width: variables.$big-tablet-width) {
    padding-left: 0;
  }
}

.main__caption {
  margin-bottom: 75px;

  @media screen and (max-width: variables.$big-mobile-width) {
    margin-bottom: 64px;
    padding-left: 20px;
  }
}

.main__min-container {
  position: relative;
  min-height: 100vh;
  padding: 170px 0 50px;

  border-left: 1px solid rgba(variables.$text-color, 0.1);
  border-right: 1px solid rgba(variables.$text-color, 0.1);

  @media screen and (max-width: variables.$big-desktop-width) {
    padding: 8.9vw 0 50px;
  }

  @media screen and (max-width: variables.$big-tablet-width) {
    padding: 8.9vw 20px 50px;
    border: none;
  }

  @media screen and (max-width: variables.$big-mobile-width) {
    padding: 17.9vw 0 13px;
  }

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 1px;
    height: 100%;

    background-color: rgba(variables.$text-color, 0.1);

    @media screen and (max-width: variables.$big-tablet-width) {
      display: none;
    }
  }
}
