@use "../../mixin";
@use "../../variables";

.basket {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(variables.$black-2,0.7);
  transform: translateX(120%);
  transition: variables.$transition;

  &.active {
    transform: translateX(0);
    transition: variables.$transition;
  }
}

.basket__block {
  overflow-y: auto;
  height: 100%;
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 31px 40px 42px;

  background-color: variables.$white;

  @media screen and (max-width: variables.$tablet-width) {
    padding: 20px;
  }
}

.basket__close {
  cursor: pointer;
  @include mixin.hover();
  @include mixin.btn();
  @include mixin.center();
  width: 48px;
  height: 48px;

  border: 1px solid rgba(variables.$black-2,0.1);
  border-radius: 50%;

  @media screen and (max-width: variables.$mobile-width) {
    gap: 5px;
  }
}

.basket__top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.basket__reset-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & span {
    @include mixin.font(14px,400,1,variables.$black);
  }
}

.basket__reset {
  cursor: pointer;
  @include mixin.btn();

  @include mixin.font(14px,300,1,rgba(variables.$black-2,0.4));

  &:hover {
    text-decoration: underline;
  }
}

.basket__list {
  @include mixin.list();
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.basket__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 5px 0;

  border-top: 1px solid rgba(variables.$black-2,0.1);

  @media screen and (max-width: variables.$mobile-width) {
    display: grid;
    align-items: flex-start;
    grid-template-columns: auto 1fr auto;
  }

  &.inactive {
    & .basket__img,
    & .basket__button-column,
    & .basket__text-column {
      pointer-events: none;
      opacity: 0.2;
    }

    & .basket__delete {
      opacity: 1;

      & svg {
        &.return-icon {
          display: block;
        }

        &.delete-icon {
          display: none;
        }
      }
    }
  }
}

.basket__text-column {
  flex: 0 0 165px;
  margin-right: 3%;

  @media screen and (max-width: variables.$mobile-width) {
    margin-right: 0;
    align-self: center;
  }
}

.basket__button-column {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: variables.$mobile-width) {
    grid-column: 1 / 2;
    gap: 5px;
  }
}

.basket__img {
  flex: 0 0 96px;
  height: 96px;
  width: 96px;

  @media screen and (max-width: variables.$mobile-width) {
    width: 120px;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.basket__item-plus,
.basket__item-minus {
  @include mixin.hover();
  @include mixin.btn();
  @include mixin.center();
  width: 40px;
  height: 24px;

  @include mixin.font(18px,400,1,variables.$black);

  background-color: variables.$grey;
  border-radius: 4px;
}

.basket__delete {
  cursor: pointer;
  @include mixin.btn();
  @include mixin.center();
  opacity: 0.4;

  @media screen and (max-width: variables.$mobile-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  &:hover {
    opacity: 1;
  }

  & svg {
    fill: none;

    &.return-icon {
      display: none;
    }
  }
}

.basket__item-link {
  display: block;
  margin-bottom: 17px;

  @include mixin.font(16px, 300, 1, variables.$black);
  letter-spacing: 0.04em;

  @media screen and (max-width: variables.$mobile-width) {
    font-size: 14px;
  }
}

.basket__result-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  margin-top: auto;

  @media screen and (max-width: variables.$mobile-width) {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.basket__result {
  @include mixin.font(16px, 400, 1, variables.$black);

  & span {
    display: block;
    margin-top: 4px;
    @include mixin.font(30px, 500, 1, variables.$black);
  }
}

.basket__order {
  @include mixin.hover();
  @include mixin.btn();
  @include mixin.center();

  width: 240px;
  height: 56px;
  border-radius: 4px;


  @include mixin.font(12px, 500, 1, variables.$black);
  text-transform: uppercase;
  text-align: center;

  background-color: variables.$green;
}

.basket__item-sum {
  @media screen and (max-width: variables.$mobile-width) {
    flex: 1 0 30px;
    text-align: center;
  }
}
