@use "../../mixin";
@use "../../variables";

.header {
  background-color: variables.$white;
}

.header__row {
  position: relative;

  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 39px;

  @media screen and (max-width: variables.$desktop-width) {
    gap: 15px;
  }

  @media screen and (max-width: variables.$tablet-width) {
    padding-top: 17px;
    padding-bottom: 19px;
    justify-content: space-between;
  }
}

.header__logo {
  @include mixin.hover();
  display: flex;
  align-items: center;

  @media screen and (max-width: variables.$mobile-width) {
    flex: 0 0 100px;
  }


  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.header__nav {
  margin-right: auto;
  margin-left: 9.5%;

  @media screen and (max-width: variables.$desktop-width) {
    margin-left: auto;
  }
}

.header__hamburger {
  display: none;

  @media screen and (max-width: variables.$tablet-width) {
    flex: 0 0 auto;
    display: block;
    margin-left: -4px;
  }
}

.header__icon-list {
  @include mixin.list();
  display: flex;
  align-items: center;
  gap: 26px;

  @media screen and (max-width: variables.$tablet-width) {
    display: none;
  }
}

.header__icon-item {
  & a {
    @include mixin.hover();
  }

  & svg {
    fill: none;
  }
}

.header__basket-btn {
  @include mixin.hover();
  @include mixin.btn();
  @include mixin.center();
  width: 24px;
  height: 24px;
  margin-left: 24px;

  @include mixin.font(12px,500,1,variables.$black);

  background-color: variables.$green;
  border-radius: 50%;

  @media screen and (max-width: variables.$tablet-width) {
    margin-left: 0;
  }
}

.header__phone-column {
  flex: 0 0 auto;
  margin-right: 6.3%;

  @media screen and (max-width: variables.$desktop-width) {
    margin-right: auto;
  }

  @media screen and (max-width: variables.$tablet-width) {
    display: none;
  }
}

.header__phone {
  @include mixin.hover();
  display: block;

  @include mixin.font(16px,600,1,variables.$black);
  letter-spacing: 0.03em;
}

.header__order-call {
  @include mixin.hover();
  display: block;

  @include mixin.font(14px,400,1,variables.$black);
  opacity: 0.6;
}
