$inter: "Inter", "Arial", sans-serif;

$black: #1F2020;
$black-2: #000000;
$text-color: $black;

$white: #ffffff;

$transparent: rgba(256,256,256,0);

$transition: all 0.3s ease-in;

$big-desktop-width: 1920px;
$desktop-width: 1440px;
$tablet-width: 1024px;
$min-tablet-width: 768px;
$mobile-width: 576px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$blue: #1c3b73;

$grey: #F2F2F2;
$grey-2: #C4C4C4;

$green: #7BB899;

