$ptsans: "PTSans", "Arial", sans-serif;
$bebas: "BebasNeue", "Arial", sans-serif;

$black: #000000;
$pink: #EF5DA8;
$blue: #5D5FEF;
$text-color: #42567A;
$white: #ffffff;
$grey-light: #F4F5F9;
$grey: #303E58;

$caption-gradient: linear-gradient(to bottom, #3877EE, #EF5DA8 80%, #EF5DA8);
$card-slider-boc-shadow: 0px 0px 15px 0px rgba(#3877EE,0.1);

$transparent: rgba(256,256,256,0);

$transition: all 0.3s ease-in;

$big-desktop-width: 1920px;
$desktop-width: 1440px;
$tablet-width: 1024px;
$min-tablet-width: 768px;
$mobile-width: 576px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

