nav.header__nav.nav.js-block.js-block-inactive(data-block="nav")
  ul.nav__list
    each item,index in ["Продукты","Цвета","Вдохновение","Советы","Найти магазин"]
      li
        a.nav__link(href="#")
          !=item
