mixin card-slider(props)
  .card-slider&attributes(attributes)
    .card-slider__caption=props.caption
    .slider.card-slider__slider
      .swiper-container
        .swiper-wrapper
          each item in props.arr
            +card(item).swiper-slide.card-slider__slide
      button.card-slider__btn.js-btn-prev(type="button")
        +svg("min-left",5,10)
      button.card-slider__btn.js-btn-next(type="button")
        +svg("min-right",5,10)
