extends pug/layout.pug
block variables
  - const title = 'Исторические даты'

include pug/mixin.pug

block content
  main.main
    .main__container
      .main__min-container
        h1.h1.main__caption=title
        include pug/blocks/main-slider.pug
