extends pug/layout.pug
block variables
  - const title = 'Краски'
  -
    const arrLink = [
      "Продукты",
      "Краски",
    ]

include pug/mixin.pug

block content
  main.main
    h1.visually-hidden Краски
    +breadcrumbs(arrLink)
    include pug/blocks/main-page/main-slider.pug
    include pug/blocks/main-page/catalog-block.pug
