extends pug/layout.pug
block variables
  - const title = 'Исторические даты'

include pug/mixin.pug

block content
  main.main
    .container
      h1.h1 Исторические даты
      include pug/blocks/main-slider.pug
